.box_navBar {
    border-radius: 15px;
}

.noPadding {
    padding: 0;
    margin: 0;
    box-shadow: none; /* Eliminar sombra */
    border: none;
}

.botones{
    display: flex;
    justify-content: space-around;

}

