.cajon_conocimientos{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border-color: black 1px solid;
    border-radius: 15px;
    width: 70%;

}

.fondo_conocimientos {
    position: relative; 
    background-image: url("../../assets/conocimientos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}

.fondo_conocimientos::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}

.container.text-center {
    position: relative; /* Asegúrate de que el contenedor tenga una posición relativa */
    z-index: 3; /* Asegúrate de que el contenido esté por encima del fondo */
}
